.home-container {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.text-input-field {
    padding: 12px 12px;
    font-size: 18px;
    border: 0;
}

.text-input-field:focus {
    outline: none;
}
.text-input-field::placeholder {
    font-style: italic;
}

.enter-room-button {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background: rgb(70, 190, 175);
    padding: 12px 12px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}